@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 1140px/2);
    padding-right: calc(50% - 1140px/2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #222;
}

.header_logo {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 41px;
}

.header_menu {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 33px;
    background: #222;
}

.disable {
    display: flex;
    align-items: center;
}

.disable_hover:hover path {
    fill: #F16D7F;
}

.top_content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 43px;
    background: #F1E4E6;
    padding-left: calc(50% - 1600px/2);
    padding-right: calc(50% - 1600px/2);
}

.top_img {
    width: 50%;
}

.top_text {
    display: inline-block;
    flex-wrap: nowrap;
    border-left: 12px solid #F16D7F;
    margin-bottom: 90px;
    padding-left: 16px;
}

.top_content_text {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.of_luxerious {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top_rose_red {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer {
    padding-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.offer_img {
    position: relative;
    z-index: -1;
}

.offer_text {
    position: absolute;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.offer_rose_red {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer_card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: rgba(33, 22, 22, 0.70);
}

.accessories {
    grid-column: 1/span 3;
}

.feature_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-top: 96px;
}

.feature_item_title {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature_item_text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    margin-top: 48px;
}

.fon_img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fon_img:hover,
.fon_img:hover .catalog_card_btn {
    background: rgba(58, 56, 56, 0.86);
    opacity: 100%;
}

.catalog_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog_card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.catalog_card_btn {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 10px 15px;
    gap: 11px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
}

.catalog_card_content {
    background: #F8F8F8;
    padding: 23px 29px 28px 17px;
}

.catalog_card_titl {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.catalog_card_text {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 16px;
}

.catalog_card_prise {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button_product {
    display: block;
    margin: 48px auto 60px auto;
    background: #FFF;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
}

.button_product:hover {
    background: #F16D7F;
    color: #FFF;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    background: #222224;
    padding-top: 103px;
    padding-bottom: 104px;
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_title {
    margin-top: 24px;
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services_text {
    margin-top: 16px;
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 82%;
}

.subscribe {
    background-image: url(../img/fon\ 41.png);
    background-color: rgba(244, 244, 244, 0.70);
    background-blend-mode: overlay;
    background-size: cover;
    min-height: 448px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 97px;
    padding-bottom: 126px;
    gap: 223.26px;
}

.subscribe_left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 360px;
}

.subscribe_text {
    margin-top: 30px;
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe_big_headline {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}

.subscribe_big_headline {
    margin-bottom: 32px;
}

.subscribe_middle_title {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.subscribe_text_font {
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.subscribe_intput {
    display: flex;
}

.subscribe_entry_field {
    background: #E1E1E1;
    flex-shrink: 0;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 7px 64px 6px 22px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.subscribe_btn {
    background: #F16D7F;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.subscribe_btn:hover {
    transform: scale(1.04);
    transition: 2ms;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222224;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer_copy {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_right {
    display: flex;
    gap: 7.29px;
}

.footer_right_box {
    display: flex;
    align-items: center;
    padding: 8px 10.70px;
    background: #FFF;
}

.footer_right_box:hover,
.footer_right_box:hover path {
    background: #F16D7F;
    fill: #FFF;
}

@media (max-width:1139px) {

    .center {
        padding-left: calc(50% - 735px/2);
        padding-right: calc(50% - 735px/2);
    }

    .top_content {
        gap: 39px;
        justify-content: center;
        padding-left: calc(50% - 768px/2);
        padding-right: calc(50% - 768px/2);
    }

    .top_text {
        margin-bottom: 0px;
    }

    .top_content_text {
        font-size: 44px;
    }

    .of_luxerious {
        font-size: 24px;
    }

    .top_rose_red {
        font-size: 24px;
    }

    .offer {
        grid-template-rows: 167px 116px;
        gap: 19px;
    }

    .offer_img {
        width: 100%;
    }

    .feature_item {
        margin-top: 110px;
        gap: 3.3px;
    }

    .catalog {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
        margin-top: 73px;
    }

    .button_product {
        margin: 33px auto 70px auto;
    }

    .fon_img {
        width: 100%;
    }

    .fon_woman_text {
        color: #FFF;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .services {
        grid-template-columns: repeat(1, 360px);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
    }

    .subscribe {
        flex-direction: column;
        padding-top: 64px;
        padding-bottom: 140px;
        gap: 48px;
    }

    .subscribe_big_headline {
        margin-bottom: 27px;
        line-height: 162%;
    }
}

@media (max-width:767px) {

    .center {
        padding-left: calc(50% - 360px/2);
        padding-right: calc(50% - 360px/2);
    }

    .header {
        padding-left: calc(50% - 343px/2);
        padding-right: calc(50% - 343px/2);
    }

    .disable_on_mobile {
        display: none;
    }

    .top_img {
        display: none;
    }

    .top_text {
        margin-top: 148px;
        margin-right: 56px;
        margin-left: 56px;
        margin-bottom: 148px;
    }

    .top_content_text {
        font-size: 38px;
    }

    .of_luxerious {
        font-size: 20px;
    }

    .top_rose_red {
        font-size: 20px;
    }

    .offer {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 1fr 1fr 111px;
        padding-top: 64px;
    }

    .accessories {
        grid-column: 1/2;
    }

    .offer_accessories_img {
        height: 111px;
    }

    .feature_item {
        margin-top: 64px;
    }

    .catalog {
        grid-template-columns: repeat(1, 360px);
        margin-top: 65px;
    }

    .catalog_card_content {
        padding: 25px 28.72px 19.95px 18.36px;
    }

    .catalog_card_titl {
        margin-bottom: 12.62px;
    }

    .catalog_card_text {
        margin-bottom: 18px;
    }

    .button_product {
        margin: 40.61px 81px 85px auto;
    }

    .footer {
        flex-direction: column-reverse;
        gap: 40px;
        padding-top: 43px;
        padding-bottom: 9px;
    }

    .subscribe_text {
        font-size: 18px;
    }

    .subscribe_big_headline {
        line-height: 153.2%;
    }

    .subscribe_middle_title {
        font-size: 14px;
    }
}